<!DOCTYPE html>
<div class="container">
<div class="row">
<h1>List Employees</h1>
</div>

<div class="row">
<div class="col-lg-3">
<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">
Add Employee</a>
</div>
</div>
<table class="table table-striped table-bordered">
<thead class="table-dark">
<tr>
<th>Employee First Name</th>
<th>Employee Last Name</th>
<th>Employee Email</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
<tr th:each="employee: ${employees}">
<td th:text="${employee.firstName}"></td>
<td th:text="${employee.lastName}"></td>
<td th:text="${employee.email}"></td>
<td><a th:href="@{/employees/edit/{id}(id=${employee.id})}"
class="btn btn-primary">Update</a> <a
th:href="@{/employees/delete/{id}(id=${employee.id})}"
class="btn btn-danger">Delete</a></td>
</tr>
</tbody>

</table>

</div>
</body>
</html>